@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html, body, #root {
    height: 100%;
    width: 100%;

    /* Disable scroll */
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'NanumSquare', sans-serif;
}
