.qr {
    display: flex;
    flex-direction: row;
    gap: 50px;

    position: absolute;
    left: 197.26px;
    bottom: 113.7px;

    p{
      color: #F9F9F9;
      align-self: flex-end;
      font-size: 60px;
      font-weight: 400;
    }
  }